<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug = "true">

<appender  nome = "STDOUT"  class = "ch.qos.logback.core.ConsoleAppender" > 
    <! - encoders são atribuídos o tipo 
         ch.qos.logback.classic.encoder.PatternLayoutEncoder por padrão -> 
    < encoder> 
      <pattern> % d {HH: mm: ss.SSS} [% thread]% -5level% logger {36} - %msg%n </pattern> 
    </encoder> 
  </appender> 

  <root  level = "debug" > 
    <appender-ref  ref = "STDOUT"  /> 
  </root>
</configuration>

